.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
}

.header_logo {
    padding-left: 5vw;
}
.header_logo img {
    height: 3.5rem;
}

.header_nav {
    padding-right: 5vw;
    display: flex;
    align-items: center;
}

.headerLink {
    text-decoration: none;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
    padding: 0 15px;
}
.headerLink:hover {
    background-color: #ee4236 !important;
}
